.template
	display: grid
	grid-template-columns: none
	grid-template-rows: 1fr $navigation-bar-height
	grid-template-areas: "page-container" "navbar"
	min-height: 100% // for Safari

.navigation-bar
	grid-area: navbar

.page-container
	grid-area: page-container
	display: flex
	justify-content: center

.page
	width: 100% // otherwise the gird make it super narrow
	margin: 0 $space-medium

@media ( min-width: #{$media-tablet})
	.template
		grid-template-columns: $navigation-bar-width 1fr
		grid-template-rows: none
		grid-template-areas: "navbar page-container"

	.page
		box-sizing: border-box
		max-width: 960px
		margin: 0 $space-big
		padding-top: $space-big
