@import "../../styles/_base/_variables"
  
#course
  // flex to fix footer to the bottom
  .page
    display: flex
    flex-direction: column

  .header
    max-width: 468px
    margin-bottom: $space-small

  .title
    max-width: 320px
    margin-bottom: $space-small
    box-sizing: border-box
    padding-left: $space-medium
    border-left: $space-small solid

  .description
    color: $color-placeholder

  .list-material
    margin-bottom: $space-small

@media ( min-width: #{$media-tablet}) and (orientation: landscape)
  .list-material
    display: grid
    grid-template-columns: repeat(2,  1fr)
    column-gap: $space-medium

@media ( min-width: #{$media-desktop}) and (orientation: landscape)
  .header
    margin-bottom: $space-big

  .title
    margin-bottom: $space-big

  .list-material
    grid-template-columns: repeat(3,  1fr)
    column-gap: $space-big

@media ( min-width: #{$media-desktop-hd}) and (orientation: landscape)
  .list-material 
    grid-template-columns: repeat(4,  1fr)


// Dynamic colors
#course
  .title.color-programming-foundations
    border-color: $color-programming-foundations
  .title.color-software-engineering
    border-color: $color-software-engineering
  .title.color-programming-in-depth
    border-color: $color-programming-in-depth
  .title.color-web-development
    border-color: $color-web-development
  .title.color-individual-project
    border-color: $color-individual-project
  .title.color-group-project
    border-color: $color-group-project
